-f https://storage.googleapis.com/jax-releases/jax_releases.html
flax==0.3.0
jax==0.2.20
jaxlib==0.1.71+cuda111
absl-py
einops
numpy
opt-einsum
scikit-learn
tensorboard
tensorflow
tensorflow-addons
tensorflow-datasets
tensorflow-estimator
tensorflow-io
tensorflow-probability